/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    background: linear-gradient(135deg, #f3f4f7, #e3e5e8);
  }
  
  /* Container */
  .container {
     backdrop-filter: blur(5px); /* Blur effect */
    -webkit-backdrop-filter: blur(5px); /* Support for WebKit browsers */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  /* Login Box */
  .login-box {
    width: 100%;
    text-align: center;
  }
  
  .login-box h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-group input:focus {
    border-color: #4cc1bb;
  }
  
  /* Button */
  .login-btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #4cc1bb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #399a96;
  }
  
  /* Text Links */
  .signup-text, .forgot-text {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
  }
  
  .signup-text a, .forgot-text a {
    color: #4cc1bb;
    text-decoration: none;
  }
  
  .signup-text a:hover, .forgot-text a:hover {
    text-decoration: underline;
  }
  